doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    // link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.css')
  body
    nav.navbar.navbar-default
        div.container-fluit
            div.navbar-header
                button.navbar-toggle.collapsed(data-toggle='collapsed', data-target='#navbar')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') Bookshelf
            div#navbar.navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href='/') Home
                    - 
                    if user
                        li
                            a(href='/upload') Upload
                    li
                        a(href='/category') Category
                    li
                        a(href='/tags') Tags
                form.navbar-form.navbar-left(action='/')
                    div.input-group
                        input.form-control(placeholder='Search books...')
                        span.input-group-btn
                            button.btn.btn-default Search
                ul.nav.navbar-nav.navbar-right
                    -
                    if !user
                        li
                            a(href=loginUrl) Login
                    else 
                        li
                            a.dropdown-toggle(href='#', data-toggle='dropdown') Howdy, #{user.displayName}  
                    -
                    if user      
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                span.caret
                            ul.dropdown-menu
                                    li
                                        a(href='/users/logout') Logout
                                    li
                                        a(href='/settings/book-category') Setting
    -
    if error
        div.alert.alert-danger.alert-dismissible.fade.in
            button.close(data-dismiss="alert")
                span &times;
            span=error.message
    else if info
        div.alert.alert-success.alert-dismissible.fade.in
            button.close(data-dismiss="alert")
                span &times;
            span= info.message
        
    block content
    
    script(src='/jquery/jquery.js')
    script(src='/bootstrap/js/bootstrap.js')
    script(src='/angularjs/angular.js')
    script(src='/scripts/app.js')